#header-container {
    display: flex;
}

#header {
    display: flex;
    justify-content: space-between;
}

#div-prod-lupa {
    display: flex;
    justify-content: space-between;
}

#right-container {
    width: 100%;
}

#cadastrar-produto {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#div-lupa-prod {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#traços {
    background-color: transparent;
    border: none;
}